
name: Build emuiibo

on: [push]

jobs:
  emuiibo:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
    - name: Checkout 
      uses: actions/checkout@v3
      with:
        submodules: recursive
      
    - name: Update packages
      run: |
        sudo -n apt-get update
        sudo -n apt-get upgrade -y git build-essential

    - name: Prepare Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true

    - name: Prepare rust-src
      run: rustup component add rust-src

    - name: Prepare cargo-nx
      run: cargo install cargo-nx --git https://github.com/aarch64-switch-rs/cargo-nx

    - name: Checkout latest libnx commit
      run: |
        git clone --recurse-submodules https://github.com/switchbrew/libnx.git

    - name: Build and install libnx
      run: |
        cd libnx
        make install -j$(nproc)

    - name: Build
      run: make -j$(nproc)

    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: SdOut
        path: SdOut